%div.page-header
  %h1 Poprawki

= paginate @corrections
%table.table
  %thead
    %tr
      %th Place
      %th Details
      %th Description
      %th Comment
      %th{colspan: 2} Actions
  %tbody
    - @corrections.each do |c|
      %tr
        %td= c.place.name
        %td
          = c.phone
          = c.website
          = c.email
        %td= truncate(c.description, length: 120)
        %td= c.comments
        %td= link_to 'Use', edit_admin_correction_path(c)
        %td= link_to 'Destroy', admin_correction_path(c), :method => :delete, :data => { :confirm => 'Are you sure?' }