%div.page-header
  %h1 Miejsca

= paginate @places
%table.table
  %thead
    %tr
      %th Name
      %th Slug
      %th Address
      %th Phone
      %th Website / Email
      %th Workflow state
      %th
      %th
      %th
  %tbody
    - @places.each do |place|
      %tr
        %td= place.name
        %td= place.slug
        %td
          = place.street_address
          %br
          = place.zipcode
          - unless place.city.nil?
            = place.city.name
        %td= place.phone
        %td
          = place.website
          = place.email
        %td
          = place.workflow_state
        %td= link_to 'Show', admin_place_path(place)
        %td= link_to 'Edit', edit_admin_place_path(place)
        %td= link_to 'Destroy', admin_place_path(place), :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'New Place', new_admin_place_path, class: "btn btn-primary"
