%div.jumbotron
  %h2 Jaki fryzjer?
  %p To nasz odwieczny dylemat. W naszym serwisie obiecujemy zająć się tym tematem na poważnie. Bez ściemy, promocji i naciąganych ocen.

  %p Szukasz fryzjera który ma na tyle talentu aby wymyślić Ci zgrabną fryzurę dopasowaną do twarzy, figury i jakości Twoich włosów? &mdash; pomożemy Ci go znaleźć!


%div.row
  - @cities.each do |city|
    .col-sm-6.col-md-4
      .thumbnail
        = link_to city_places_path(city) do
          %span.image
            = image_tag "cities/#{city.name.to_s.parameterize}.jpg", alt: city.name
          .caption
            = link_to city.name, city_places_path(city)
            &mdash;
            == #{city.places_count} obiektów

- content_for :title do
  Jaki fryzjer? Profile i recenzje salonów fryzjerskich na jakifryzjer.pl

- content_for :description do
  Znajdź odpowiedniego dla Ciebie fryzjera w Twoim mieście. Sprawdź opisy miejsc, zdjęcia i recenzje użytkowników.