%div.page-header
  %h1 Jaki fryzjer #{@city.adjective}?

%div.list-group
  - @places.each do |place|
    = link_to city_place_path(@city, place), class: 'list-group-item' do
      %h3= place.name
      %p= place.description


  = paginate @places


- content_for :title do
  Jaki fryzjer #{@city.adjective}? Sprawdź na jakifryzjer.pl
- content_for :description do
  Znajdź najlepszego fryzjera #{@city.adjective}. Tu znajdziesz opisy miejsc, zdjęcia i recenzje.