%ol.breadcrumb
  %li= link_to "Fryzjer", root_path
  %li= link_to @place.city.adjective, city_places_path(@place.city)
  %li= @place.name

%div.page-header
  %h1 #{@place.name}

%div.row
  %div.col-xs-8
    - if @place.description
      = simple_format auto_link @place.description
    - else
      /googleoff: index
      %div.well
        - if @place.corrections.size > 0
          %p Opis salonu oczekuje na weryfikację
          = link_to "Zgłoś poprawki", new_place_correction_path(@place), class: "btn btn-primary"
        - else
          %p Ten salon nie posiada jeszcze swojego opisu.
          = link_to "Dodaj opis", new_place_correction_path(@place), class: "btn btn-primary"
      /googleon: index
    .panel.panel-default
      .panel-heading
        %h3.panel-title Komentarze i opinie
      .panel-body
        = render 'places/disqus'
  %div.col-xs-4
    %div.panel.panel-default
      %div.panel-body
        %h4 Adres:
        %address
          %span= @place.name
          %span= @place.street_address
          %span #{@place.zipcode} #{@place.city.name}
          %span= @place.phone
          %span= auto_link @place.website
          %span= auto_link @place.email

- content_for :title do
  #{@place.name} - Profil na jakifryzjer.pl

- content_for :description do
  Sprawdź opinie o »#{@place.name}« #{@place.city.adjective}. Zobacz opis miejsa, zdjęcia i recenzje tego salonu fryzjerskiego.